{% include 'styles.html.twig' %}

{% block body %}
    <div class="centralized">
        <h1>Registration:</h1>
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username, {
            label: 'Login:⠀'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'PWD:⠀'
        }) }}
        {{ form_row(registrationForm.agreeTerms, {
            label: 'ToS⠀-⠀'
        }) }}

        <button type="submit" class="classButton">Register</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
